<div class="container mt-5 ">
<button [routerLink]="['list']" type="button" class="btn m1-1"[ngStyle]="{'font-weight':style}" >user</button>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
   
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[ngStyle]="{'font-weight':style}">
      Resto
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a [routerLink]="['add/resto']"class="dropdown-item"> add resto</a>
      <a [routerLink]="['list/resto']" class="dropdown-item" >list resto</a>
      <a [routerLink]="['add/plat']"class="dropdown-item"> add plat</a>
      <a [routerLink]="['list/plat']" class="dropdown-item" >list plat</a>
      <a [routerLink]="['list/category']" class="dropdown-item" >list category</a>
      <a [routerLink]="['prix']" class="dropdown-item" >calcul prix</a>


    </div>
  </div>


  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngStyle]="{'font-weight':style}">
      Employe
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a [routerLink]="['list/employe']"class="dropdown-item"> list employe</a>
      <a [routerLink]="['add/employe']"class="dropdown-item"> add employe</a>
      
      

    </div>
  </div>


  
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngStyle]="{'font-weight':style}">
        Login
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a routerLink="register" class="dropdown-item" href="#"> Register</a>
       
      </div>
    </div>
  </div>
  </div>
  