<div class="form-group text-center">
  <br><h1> List category </h1>
</div>
<table class="table table-borderless">
    <thead class="thead-light">
      <th>Id</th>
      <th>name</th>
      <th>quantity</th>
      <th>nbplat</th>
      <th>like</th>
     
  
      <th>
        <a class="btn btn-sm btn-success text-white"[routerLink]="['/add/plat/']"><i class="fa fa-plus"></i> Add Item</a>
      </th>
    </thead>
    <tbody>
      
      <tr *ngFor="let categoryy of category" >
        <app-category [categoryy]="categoryy"></app-category>
      </tr>
    </tbody>
  </table>


  {{categoryName}}